@import "tailwindcss";
/* @import "@liveblocks/react-ui/styles.css"; */
@import "@liveblocks/react-ui/styles/dark/attributes.css";
@import "./liveblocks-ui.css" layer(utilities);

@import "./fonts/iosevka/IosevkaSS05.css" layer(utilities);

@custom-variant dark (&:is(.dark *));

@theme {
	--color-white: oklch(1 0 0);
	--color-forest-green: oklch(0.45 0.2 145);
	--color-emerald-green: oklch(0.65 0.3 152);
	--color-charcoal: oklch(0.2 0 0);
	--color-deep-teal: oklch(0.25 0.15 160);
	--color-dark-pine: oklch(0.2 0.1 180);
	--color-aqua-mint: oklch(0.8 0.25 165);
	--color-dark-gray: oklch(0.05 0 0);
	--color-muted-gray: oklch(0.95 0 0);
	--color-muted-text: oklch(0.5 0 0);
	--color-border-gray: oklch(0.4 0.1 171);
	--color-light-gray: oklch(0.9 0 0);

	--container-mobile: 384px;
	--container-tablet: 820px;
	--container-desktop: 1440px;
	--container-desktop-lg: 1920px;

	--breakpoint-mobile: 384px;
	--breakpoint-tablet: 820px;
	--breakpoint-desktop: 1440px;
	--breakpoint-desktop-lg: 1920px;

	--spacing-mobile: 384px;
	--spacing-tablet: 820px;
	--spacing-desktop: 1440px;
	--spacing-desktop-lg: 1920px;


	--gutter-md: 2.5rem;

	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);
	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-destructive: var(--destructive);
	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);

  --z-canvas: 0;
  --z-pane: 10;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground w-dvw h-dvh overflow-hidden;
  }
}

@utility text-balance {
  text-wrap: balance;
}

@layer utilities {
  body {
    font-family: "Iosevka SS05 Web";
  }

  html {
    scroll-behavior: smooth;
    font-size: calc(var(--base-font-size));
  }
}

@layer base {
  :root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --destructive-foreground: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --radius: 0.625rem;
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
  }
  
  .dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.145 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.145 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.985 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.396 0.141 25.723);
    --destructive-foreground: oklch(0.637 0.237 25.331);
    --border: oklch(0.269 0 0);
    --input: oklch(0.269 0 0);
    --ring: oklch(0.439 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(0.269 0 0);
    --sidebar-ring: oklch(0.439 0 0);
  }
  
}

@theme inline {
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}


@utility hud-shell {
  position: relative;
  display: grid;
  width: 100%;
  height: 100%;
  --gutter-size: 1rem;
 

  grid-template-columns: var(--gutter-size) auto 1fr auto var(--gutter-size); 
  grid-template-rows: var(--gutter-size) auto 1fr auto var(--gutter-size); 
  gap: 0px 0px; 
  grid-template-areas: 
    "left-gutter top-gutter top-gutter top-gutter right-gutter"
    "left-gutter top-pane top-pane top-pane right-gutter"
    "left-gutter left-pane centre-pane right-pane right-gutter"
    "left-gutter left-pane bottom-pane right-pane right-gutter"
    "left-gutter left-pane bottom-gutter right-pane right-gutter";

    &>[class*="pane"] { 
      background-color: transparent;
      pointer-events: none;
      background-image: repeating-linear-gradient(
        45deg,
        transparent,
        transparent 10px,
        rgba(0, 0, 0, 0.1) 10px,
        rgba(0, 0, 0, 0.1) 20px
      ),
      repeating-linear-gradient(
        -45deg,
        transparent,
        transparent 10px,
        rgba(0, 0, 0, 0.1) 10px,
        rgba(0, 0, 0, 0.1) 20px
      );
    }

    &>.left-pane { 
      grid-area: left-pane; 
    }
    &>.right-pane { 
      grid-area: right-pane; 
    }
    &>.centre-pane { 
      grid-area: centre-pane; 
    }
    &>.top-pane { 
      grid-area: top-pane; 
    }
    &>.bottom-pane { 
      grid-area: bottom-pane; 
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &>.canvas { 
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
}





.lb-root {
  --lb-accent: var(--accent);
}

.lb-comment {
  scroll-margin-top: calc(var(--header-height) + 1rem);
}

.avatar {
  background: #f3f3f3;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  overflow: hidden;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  display: flex;
  place-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background: #fff;
  box-shadow:
    0 0 0 1px rgb(0 0 0 / 4%),
    0 2px 6px rgb(0 0 0 / 4%),
    0 8px 26px rgb(0 0 0 / 6%);
}

.header-title {
  font-weight: 500;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--sidebar-width);
  height: 100%;
  padding: calc(var(--header-height) + 0.5rem) 0.5rem 0.5rem;
  background: #fff;
  overflow-y: auto;
  box-shadow:
    0 0 0 1px rgb(0 0 0 / 4%),
    0 2px 6px rgb(0 0 0 / 4%),
    0 8px 26px rgb(0 0 0 / 6%);
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-room {
  all: unset;
  display: flex;
  place-items: center;
  color: #555;
  border-radius: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
}

.sidebar-room:hover,
.sidebar-room:focus-visible {
  background: #f3f3f3;
}

.sidebar-room[data-active] {
  background: var(--accent);
  color: #fff;
  font-weight: 500;
}

.sidebar-room svg {
  margin-right: 0.375rem;
}

.content {
  display: flex;
  min-height: 100vh;
  padding: calc(var(--header-height) + 1rem) 1rem 1rem
    calc(var(--sidebar-width) + 1rem);
  overflow-y: auto;
}

.button {
  all: unset;
  position: relative;
  display: flex;
  place-items: center;
  place-content: center;
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem;
  border-radius: 0.5rem;
  background: #f3f3f3;
  color: #555;
}

.button.square {
  padding: 0;
  width: 2rem;
  height: 2rem;
}

.button.destructive {
  background: #fde5e5;
  color: #953939;
}

.button:hover,
.button:focus-visible {
  background: #e8e8e8;
  cursor: pointer;
}

.button.destructive:hover,
.button.destructive:focus-visible{
  background: #ffd6d6;
}

.loading,
.error,
.empty,
.home {
  width: 100%;
  display: flex;
  place-content: center;
  place-items: center;
  padding: 1rem;
  flex: 1 0 auto;
  color: rgb(0 0 0 / 50%);
}

.loading img {
  width: 64px;
  height: 64px;
  opacity: 0.2;
}

.threads {
  width: 100%;
  max-width: 620px;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.thread,
.composer {
  position: relative;
  flex: none;
  border-radius: 0.75rem;
  overflow: hidden;
  box-shadow:
    0 0 0 1px rgb(0 0 0 / 4%),
    0 2px 6px rgb(0 0 0 / 4%),
    0 8px 26px rgb(0 0 0 / 6%);
}

.composer {
  margin-top: auto;
}

.inbox {
  background: #fff;
  width: 460px;
  height: 560px;
  max-height: calc(100vh - var(--header-height) - 10px);
  display: flex;
  flex-direction: column;
  outline: none;
  overflow-y: auto;
  border-radius: 0.75rem;
  box-shadow:
    0 0 0 1px rgb(0 0 0 / 4%),
    0 2px 6px rgb(0 0 0 / 8%),
    0 8px 26px rgb(0 0 0 / 12%);
}

.inbox-header {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  place-items: center;
  justify-content: space-between;
  background: #fff;
  width: 100%;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  box-shadow:
    0 0 0 1px rgb(0 0 0 / 4%),
    0 2px 6px rgb(0 0 0 / 4%),
    0 8px 26px rgb(0 0 0 / 6%);
}

.inbox-title {
  font-weight: 500;
}

.inbox-buttons {
  display: flex;
  gap: 6px;
}

.inbox-list {
  box-shadow: 0 0 0 1px rgb(0 0 0 / 8%);
}

.inbox-unread-count {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  display: flex;
  place-content: center;
  place-items: center;
  background: var(--accent);
  color: #fff;
  font-size: 0.65rem;
  font-weight: 500;
  height: 1rem;
  min-width: 1rem;
  padding: 0 0.25rem;
  border-radius: 9999px;
}




.thread,
.composer {
  position: relative;
  border-radius: 0.75rem;
  overflow: hidden;
  box-shadow:
    0 0 0 1px rgb(0 0 0 / 4%),
    0 2px 6px rgb(0 0 0 / 4%),
    0 8px 26px rgb(0 0 0 / 6%);
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    background: #111;
  }

  .lb-root {
    --lb-accent: #77f;
  }

  .loading img {
    filter: invert(1);
  }

  .error {
    color: #fff;
  }

  .thread::after,
  .composer::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    border-radius: inherit;
    pointer-events: none;
    box-shadow: inset 0 0 0 1px rgb(255 255 255 / 6%);
  }
}